.titulo {
    font-size: 48px;
    color: #EF5DA8;
}

.principal {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.principal .principal-img {
    display: inline-block;
    padding-right: 40px;
}

#texto-introducao {
    display: inline-block;
    padding-left: 10px;
    text-align: justify;
}

#text-secundario {
    display: inline-block;
    padding-top: 30px;
    padding-left: 10px;
    text-align: justify;
}

.principal .texto {
    display: inline-block;
    padding-top: 30px;
    padding-left: 10px;
}

.principal .botao-doacao {
    background-color: #EF5DA8;
    color: white;
    padding: 5px 8px;
    border: 1px solid #EF5DA8;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: all .3s ease;
}

.principal .botao-doacao:hover {
    background-color: white;
    color: #EF5DA8;
}

.principal .container-botao {
    text-align: start;
}

.rodape {
    display: flex;
    background-color: #F0AFAB;
    border: 1px solid #F0AFAB;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
}

.rodape .item {
    display: inline-block;
    width: 30%;
}

.imagem-doe-facil {
    width: 300px;
    height: 250px;
    display: block;
    margin: auto;
}

#img1 {
    background-color: #F4F4F4;
    border: 4px solid #e7e5e5;
    width: 499px;
    height: 334px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

@media screen and (max-width:600px) {
    .principal {
        display: block;
    }
}