.titulo {
    font-size: 48px;
    color: #EF5DA8;
    font-weight: bold;
    padding-top: 40px ;
    padding-bottom:30px  ;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.image-container img {
    max-width: 100%;
    height: auto;
}

#text-container h2{
    font-weight: bold;
}

.institution__image {
    width: 100%;
    border-radius: 25px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border: 1px solid rgba(0, 0, 0, 0.025);
}

.button {
    display: inline-block;
    padding: 15px 35px;
    background-color: #EF5DA8;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

