.container-1{
    padding: 20px 40px;
}
.titulo {
    color: #EF5DA8;
    font-size: 50px;
    font-family: arial;
    font-weight: bold;
}
.principal{
    display: flex;
    padding-top: 20px;
}


.imgsara{
    position: relative;
	left: 110px;
    bottom: 580px;
}

.color1{
    position: relative;
    left: 90px;
    top: 20px;
}
.colorc1{
    position: relative;
    left: 90px;
    bottom: -18px;
}

.fundacaosara{
    position: relative;
    left: 125px;
    bottom: 470px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.saratxt{
    position: relative;
    left: 120px;
    bottom: 210px;
    text-align: justify;
    color: gray;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.cidade1{
    position: relative;
    left: 120px;
    bottom: 45px;
    font-weight: bold;
    color: gray;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.imgcaminho{
    position: relative;
	left: 543px;
    bottom: 1525px;
}
.color2{
    position: relative;
    left: 520px;
    bottom: 883px;
}
.colorc2{
    position: relative;
    left: 520px;
    bottom: 885px;
}

.casadocaminho{
    position: relative;
    left: 560px;
    bottom: 1372px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.caminhotxt{
    position: relative;
    left: 550px;
    bottom: 1112px;
    text-align: justify;
    color: gray;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.cidade2{
    position: relative;
    left: 550px;
    bottom: 950px;
    font-weight: bold;
    color: gray;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}




.imgcapec{
    position: relative;
	left: 110px;
    bottom: 1850px;
}

.color3{
    position: relative;
    left: 90px;
    bottom: 1250px;
}
.colorc3{
    position: relative;
    left: 90px;
    bottom: 1250px;
}

.capec{
    position: relative;
    left: 125px;
    bottom: 1740px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.capectxt{
    position: relative;
    left: 125px;
    bottom: 1480px;
    text-align: justify;
    color: gray;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.cidade3{
    position: relative;
    left: 125px;
    bottom: 1310px;
    font-weight: bold;
    color: gray;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}






.imgcape{
    display: block;
    margin: auto;
}

.rodape {
    display: flex;
    background-color: #F0AFAB;
    border: 1px solid #F0AFAB;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
    
}

.rodape .item {
    display: inline-block;
    width: 30%;
}