.container-1{
    padding: 20px 40px;
}
.titulo {
    color: #EF5DA8;
    font-size: 50px;
    font-family: arial;
    font-weight: bold;
}
.principal{
    display: flex;
    padding-top: 20px;
}

.rodape{
    display: flex;
    background-color: #F0AFAB;
    border: 1px solid #F0AFAB;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
}

.rodape .item{
    display: inline-block;
    width: 30%;
}

.imgsara{
    position: relative;
	left: 110px;
    top: 80px;
    position
}
.imgcaminho{
    display: block;
    margin: auto;
}
.imgcapec{
    display: block;
    margin: auto;
}
.imgcape{
    display: block;
    margin: auto;
}