.container-1{
    padding: 20px 40px;
}
.titulo {
    font-size: 48px;
    color: #EF5DA8;
}
.principal{
    display: flex;
    padding-top: 20px;
}
.principal-img {
    display: inline-block;
    width: 42%;
    padding-right: 40px;
}

.texto {
    display: inline-block;
    width: 58%;
    padding-top:30px;
    padding-left: 10px;
}

.botao-doacao:hover {
    background-color: white;
    color: #EF5DA8;
}

.container-botao {
    text-align: start;
}

.rodape{
    display: flex;
    background-color: #F0AFAB;
    border: 1px solid #F0AFAB;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
}

.rodape .item{
    display: inline-block;
    width: 30%;
}

.imagem-doe-facil{
    width: 300px;
    height: 250px;
    display: block;
    margin: auto;  
}
#img1{
    background-color: #F4F4F4;
    border:4px solid #e7e5e5;
    width: 499px;
    height: 334px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    vertical-align:middle;



    
}