* {
    --primary-color: #79d6b7;
    --primary-color-dark: #6ac8a8;
}

.custom-navbar {
    background-color: var(--primary-color) !important;
}

.custom-navbar .dropdown-menu {
    background-color: var(--primary-color-dark) !important;
    border: 0;
}

.custom--primary {
    background-color: #EF5DA8;
    border: 0;
    border-bottom: 4px solid #CE5091;
}

.custom--primary:hover {
    background-color: #CE5091;
    border-bottom: 4px solid #BA4A83;
}


.container1 {
    display: inline-block;
    margin-top: 50px;
    margin-left: 20px;
    background-color: #FFFF;
    width: 100%;
  
}
.Logo{

    width: 350px;
    height: 250px;
    border-radius: 8px;
    justify-content: center;
    vertical-align:middle;
    padding-top: 10px;
}
.Titulo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 800px;
    float: right;
    margin-left: 50px;
    display: flex;
}

h2 {
    font-weight: bold;
    font-size: 50pt;
    color: #EF5DA8;
    

}
p1{
    color: #EF5DA8;

}
button{
    background-color: #79d6b7;
    color: #FFFF;
    border-color: #6ac8a8;
    border-radius: 10px;
    vertical-align: middle;
    text-decoration: underline;
    
 }
section{
    background-color: #FDFBF8;
}
section div{
    display: inline-block;
    color: black;
    width: calc(33% - 16px);
    background-color:#EF5DA8;
    vertical-align: top;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 10px;
   }
   h2 {
    color: white;
    margin-left: 10px;
   }
   section div img {
    display: block;
    width: 90%;
    border-radius: 10px;
   padding-left: 50px;
}
section p{
    margin-top: 10px;
    padding-left: 10px;
    background-color:#F8F8F8;
}

.container3{
    margin: 0 auto;

    display: inline-block;
    text-align: center;
    overflow: hidden;
    }
    h5,strong{
        color: #EF5DA8;
    }
    h5{
        font-size: 30pt;
        font-weight: bold;
    }
    .slides{
        width: 400%;
        height: 400px;
        display: flex;
    }
    .slides input{
        display: none;
    }
    .slide {
        width: 25%;
        position: relative;
    }
    .slide img{
        width: 125px;
    }
    .manual-navigation{
        position: absolute;
        width: 800px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    }
    .manual-btn{
        border: 2px solid #EF5DA8;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .manual-btn:not(:last-child){
        margin-right: 40px;
    }
    .manual-btn:hover{
        background-color: #EF5DA8;
    }

    #radio1:checked ~ .first{
        margin-left: 0;
    }
    #radio2:checked ~ .first{
        margin-left: -25%;
    }
    #radio3:checked ~ .first{
        margin-left: -50%;
    }
.navigation-auto div{
    border: 2px solid #EF5DA8;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;   
}
.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
    }
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .autobtn1{
    background-color: #EF5DA8;
}
#radio1:checked ~ .navigation-auto .autobtn2{
    background-color: #EF5DA8;
}
#radio1:checked ~ .navigation-auto .autobtn3{
    background-color: #EF5DA8;
}

    .rodape {
        display: flex;
        background-color: #F0AFAB;
        border: 1px solid #F0AFAB;
        justify-content: space-between;
        padding: 20px 30px 20px 30px;
    }
    
    .rodape .item {
        display: inline-block;
        width: 30%;
    }