* {
    --primary-color: #79d6b7;
    --primary-color-dark: #6ac8a8;
}

.custom-navbar {
    background-color: var(--primary-color) !important;
}

.custom-navbar .dropdown-menu {
    background-color: var(--primary-color-dark) !important;
    border: 0;
}

.custom--primary {
    background-color: #ef5da8;
    border: 0;
    border-bottom: 4px solid #ce5091;
}

.custom--primary:hover {
    background-color: #ce5091;
    border-bottom: 4px solid #ba4a83;
}

.container1 {
    background-color: #ffff;
}
.Logo {
    width: 80%;
    height:auto;

    justify-content: center;
    vertical-align: middle;
    padding-top: 10px;
}
.Titulo {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    display: flex;
    font-weight: bold;
    font-size: 50pt;
    color: #ef5da8;
}

p1 {
    color: #ef5da8;
}
button {
    background-color: #79d6b7;
    color: #ffff;
    border-color: #6ac8a8;
    border-radius: 10px;
    vertical-align: middle;
    text-decoration: underline;
}
section {
    background-color: #fdfbf8;
}

.custom__col {
    color: black;
    width: calc(33% - 16px);
    background-color: #ef5da8;
    vertical-align: top;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 10px;
}

h2 {
    color: white;
    margin-left: 10px;
}

section p {
    margin-top: 10px;
    padding-left: 10px;
    background-color: #f8f8f8;
}

h5,
strong {
    color: #ef5da8;
}
h5 {
    font-size: 30pt;
    font-weight: bold;
}
.slides {
    display: flex;
    flex-direction: column;
}
.slides input {
    display: none;
}

.slide {
    width: 100%;
    position: relative;
    text-align: center;
}

.slide img {
    width: 125px;
}
.manual-navigation {
    /* position: absolute; */
    width: 800px;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid #ef5da8;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}
.manual-btn:hover {
    background-color: #ef5da8;
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -25%;
}
#radio3:checked ~ .first {
    margin-left: -50%;
}
.navigation-auto div {
    border: 2px solid #ef5da8;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .autobtn1 {
    background-color: #ef5da8;
}
#radio1:checked ~ .navigation-auto .autobtn2 {
    background-color: #ef5da8;
}
#radio1:checked ~ .navigation-auto .autobtn3 {
    background-color: #ef5da8;
}

.rodape {
    display: flex;
    background-color: #f0afab;
    border: 1px solid #f0afab;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
}

.rodape .item {
    display: inline-block;
    width: 30%;
}
