* {
    --primary-color: #79d6b7;
    --primary-color-dark: #6ac8a8;
}

.custom-navbar {
    background-color: var(--primary-color) !important;
}

.custom-navbar .dropdown-menu {
    background-color: var(--primary-color-dark) !important;
    border: 0;
}

.Logo {
    width: 80%;
    height: auto;
    justify-content: center;
    vertical-align: middle;
    padding-top: 10px;
}

.Titulo {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    display: flex;
    font-weight: bold;
    font-size: 50pt;
    color: #ef5da8;
}

.card__item {
    color: black;
    vertical-align: top;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.card__item img {
    width: 100%;
    transform: scale(1.1) translateX(15px) translateY(10px);
}

.card__header {
    border-radius: 15px 15px 0 0;
    background-color: #ef5da8;
    padding: 15px 15px 0px 15px;
}

.card__footer {
    border-radius: 0 0 15px 15px;
    background-color: #f8f8f8;

    padding: 15px;
    margin-top: 20px;
}

.card__title {
    color: white;
    margin-left: 10px;
    font-weight: bolder;
    font-size: 30px;
}

.slide__header {
    color: #ef5da8;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.slide__header h5 {
    font-size: 30pt;
    font-weight: bold;
}


.slide__author {
    color: #ef5da8;
    font-size: 25px;
}

.slide__quote {
    margin-top: 10px;
}

.slides {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.slide {
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: opacity 0.2s;
    text-align: center;
}

.slide img {
    width: 125px;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    margin-bottom: 5%;
}

.manual-navigation {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.manual-navigation .radio {
    opacity: 0;
    position: absolute;
    left: -1000000000px;
}

.manual-btn {
    border: 2px solid #ef5da8;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn {
    margin: 0 20px;
}

.manual-btn:hover {
    background-color: #ef5da8;
}
