@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    --background-color: #f0e9d116;
    --light-background-color: #ffffff;
    --primary-color: #79d6b7;
    --primary-color-dark: #6ac8a8;
    --secondary-color: #ef5da8;
    --secondary-color-dark: #ce5091;
    --border-color: #eeeeee;
    --bs-list-group-border-color: var(--border-color);
    --footer-color: #f0afab;
}

body {
    background: var(--background-color);
    font-family: 'Roboto', sans-serif;
}

.custom-navbar {
    background-color: var(--primary-color) !important;
}

.custom-navbar .dropdown-menu {
    background-color: var(--primary-color-dark) !important;
    border: 0;
}

.custom--primary {
    background-color: var(--primary-color);
    border: 0;
    border-bottom: 4px solid var(--primary-color-dark);
}

.custom--primary:hover {
    background-color: var(--primary-color);
    border-bottom: 4px solid #ba4a83;
}

.custom--secondary {
    background-color: var(--secondary-color);
    border: 0;
    border-bottom: 4px solid var(--secondary-color-dark);
}

.custom--secondary:hover {
    background-color: var(--secondary-color);
    border-bottom: 4px solid #ba4a83;
}

.btn--custom {
    padding: 0.6em;
}

.btn--100 {
    width: 100%;
}



.block__content {
    background-color: var(--light-background-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 30px;
}

.table__content {
    padding-left: 0;
    padding-right: 0;
}

.block__navbar {
    background-color: var(--light-background-color);
    border-radius: 8px;
}

.list-group-item.active {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.form-control,
.form-select {
    padding: 0.575rem 0.95rem;
    background-color: #a9a9a905;
}

#navbar-links .list-group-item {
    padding: 0.65rem 1.25rem;
}

.form-label {
    color: #626262;
}

.form__title {
    font-size: 1.65rem;
    padding-bottom: 10px;
    padding-left: 35px;
}

.footer__container {
    background-color: var(--footer-color);
    padding-top: 70px;
    margin-top: 60px;
    padding-bottom: 40px;
    color: #626262;
}

.footer__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.footer__info .footer__links a {
    text-decoration: none;
    color: #626262;
}

.footer__links {
    list-style: none;
    padding: 0;
}

.footer__links li {
    margin-bottom: 5px;
}

.footer__copyright {
    padding-top: 40px;
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #62626230;
}

.footer__about {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}
